* { box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    min-height: 2930px;  
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: #001821;
    margin: 0;
    color: white;
}

.main-page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: url(./img/elephant.png) center top no-repeat,
    url(./img/background2.jpg) center bottom 165px no-repeat ;
  
}
h1 {
    margin: 0;
}
ul , li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}
button {
    background-color: #f5170e;
    height: 55px;
    width: 168px;
    border-radius: 35px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .4s;
}
button:hover {
    background-color: #43dd6a;

}
.header {
    display: flex;
    justify-content: space-between;
    min-height: 124px;
    align-items: center;
     
}
 
.menu__list {
    display: flex;
    margin-left: 79px;   
   
}

.menu__item {
     margin-right: 54px;
}

.menu__item:last-child {
    margin-right: 0;
}

.contacts {
    display: flex;
    flex-direction:column;
    text-align: right;
    margin-left: auto;
    padding-top: 12px;
}
.menu {
    display: flex;
    }

.contacts__tel {
    font-size: 26px;
    color: white;
}
.menu__link {
    color: white;
    font-size: 14px;
}
.contacts__graph , .contacts__text {
    font-size: 13px;
}
/* начало previw............................................................*/
.previw {
    display: flex;
    flex-direction: column;
    min-height: 333px; 
    min-width: 511px;
    
    
  }
.previw__title {
    font-size: 72px;
    font-weight: 700; 
    width: 45%;
    padding-top: 87px;
    padding-bottom: 22px;
}
.previw__desc {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 36px;
    padding-top: 30px;
}

/* начало hot-tours................................................................*/
.hot-tours {
    margin-top: 249px;
    }
.hot-tours__list{
    display: flex;
    justify-content: space-between;
    
    
    }
.hot-tours__title {
    margin-bottom: 53px;

}
.hot-tours__img {
    width: 100%;

}
.hot-tours__item {
    display: flex;
    justify-content: space-between;
    
    flex-direction: column;
    width: calc(100%/3 - 18px); 
    min-height: 449px;
    border-radius: 5px;
    overflow: hidden;
}
.hot-tours__title-text {
    font-size: 36px;
    font-weight: 700;
    }
.hot-tours__subtitle {
    font-size: 24px;
    font-weight: 700;
    }
.hot-tours__features {
    display: flex;
    
    
} 
.hot-tours__features-blok-icon {
    font-size: 16px;
    font-weight: 400;
    }
.hot-tours__info {
    font-size: 14px;
    font-weight: 400; 
    }
.hot-tours__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    color: #303030;
    padding-top: 39px;
    padding-left: 22px;
    padding-bottom: 26px;
    }

    
.hot-tours__features-blok {
    padding-right: 46px;
}
.hot-tours__features-blok:last-child {
    padding-right: none;
}
.hot-tours__button-button {
    width: 135px;
}
/* начало news ...............................................................*/
.news {
    margin-top: 127px;
}
.news__list {
    display: flex;
    justify-content: space-between;
}
.news__item {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    width: 557px;
    height: 394px;
     border-radius: 5px;
     overflow: hidden;
}
.news__item:last-child {
    margin-right: 0px;
}
.news__content {
    position: absolute;
    color: white;
    padding-bottom: 50px;
    padding-left: 31px;
}
.news__img {
    position: relative;
    height: 100%;
    width: 100%;
    
}

.news__title {
    padding-bottom: 53px;
    font-size: 36px;
    font-weight: 700;
    
}
.news__date-month {
    font-size: 14px;
}
.news__subtitle {
    font-size: 24px;
    font-weight: 700;
    
}
.news__info {
    font-size: 16px;
    font-weight: 400;
}
/* начало paginator...........................................................*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 53px;
    margin-bottom: 144px;
}
.pagination__display, .pagination__list, .pagination__item  {
    display: flex;
    align-items: center;
}
.pagination__list {
    text-align: center;
    margin-left: 20px;
}
.pagination__link{
    height: 32px;
    width: 32px;
    background-color: transparent;
    border-radius: 50%;
    
    color: #fff;
    line-height: 32px;
    transition: .4s;
}
.pagination__link:hover {
    color: #F5170E;
    background-color: white;
}
/* начало about..........................................................*/
.about {
    display: flex;
    width: 1139px;
    height: 505px;
}
.about__content {
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    background: url(img/mountains.jpg);
    margin-left: -138px;
    margin-top: 100px;
    padding-left: 81px;
    padding-top: 70px;
    border-radius: 5px;
    min-width: 785px;
    min-height: 455px;
    color: #060606;
    

}
.about__title {
    font-size: 36px;
    font-weight: 700;
    
}
.about__text {
    font-size: 16px;
    width: 502px;
    padding-bottom: 30px;
    margin-top: 39px;
    
}
.about__button-button {
    margin-top: 51px;
    margin-bottom: 70px;
}
/* начало footer ..........................................................................*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #353538;
    margin-top: 151px;
    


}
.contacts__text {
    font-size: 11px;
}
.socials__list{
   display: flex; 
   margin-left: 50px; 
   margin-left: 276px;
}
.socials__item {
    border-radius: 50%;
    overflow: hidden;
    
   vertical-align: middle;
    margin-right: 10px;
    height: 36px;
}
.socials__link {
    text-decoration: none;
    
    

}
.socials__item:last-child {
margin-right: 0;
}


